= content_for :content do
  %tr
    %td
      %p.bigger
        Your account is now
      %p.bigger
        approved for
      %p.bigger
        takko payouts!
  %tr
    %td

= render 'mailers/takko_card', dark_theme: true
