= content_for :content do
  %tr
    %td
      %h2 Reset password
  %tr
    %td
      %p.gray
        There was recently a request to change the password
        on your takko account
  %tr
    %td
      = link_to 'Reset password',
                link_reset_password_url(token: @user.password_verification_token),
                class: 'btn'

= render 'mailers/takko_card', dark_theme: true
