<div class="modal fade" id="contests-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal_content">
      <div id="details_title" class="row">
        <div class="col-5">
          Winner of the contest
        </div>
        <div class="col-6"></div>
        <div class="col-1">
          <span class="close_btn">x</span>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-6">
          <%= text_field_tag(:username, '', placeholder: 'username', size: '35') %>
        </div>
        <div class="col-2">
          <span class="save_btn">Save</span>
        </div>
      </div>
    </div>
  </div>
</div>
