.card-container
  %table
    %tbody
      %tr
        %td
          %table
            %tbody
              %tr
                %td= image_tag 'white_takko.png'
              %tr
                %td
                  %h2 Password has been changed successfully
              %tr
                %td
                  = button_to 'Done', "javascript:window.open('about:blank','_self').close()",
                              method: :get
