%span
  If you did not submit this request,
  %br
  please contact us at
  = mail_to 'support@takoapp.com'
  %br
  Follow us on
  %a{ href: 'https://www.facebook.com/takkoapp' } facebook
  and
  %a{ href: 'https://www.instagram.com/takkoapp' } instagram

%p Copyright © #{Time.current.year} Takko, Inc.
