<div class="takko-pages">
  <div class="fluid-header-cover">
    <div class="container h-100">
      <div class="row justify-content-md-center align-items-center align-self-center h-100">
        <div class="col-md-8">
          <h1>
            Community Guidelines <span class="version">v1.0.1</span>
          </h1>
        </div>
        <!-- col -->
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- fluid-header-cover -->
  <div class="container main-wrap">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <div class="main-content">
          <h2 class="section-header">
            Built for teachers
          </h2>
          <p>
            Imagine a platform where you can get support from other teachers, trade resources, and be there for your community. A place where everyone can finally just be themselves.
          </p>
          <p>
            Well, that’s what App for Teachers is all about.
          </p>
          <p>
            But we need your participation.
          </p>
          <p>
            So don’t mind us while we run through some of the things we’re counting on you to work with us on. The more we can all pitch in, the better the App for Teachers community will become.
          </p>
        </div>
        <!-- main-content -->
      </div>
      <!-- col -->
    </div>
    <!-- row -->
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <div class="main-content">
          <h2 class="section-header">
            Be kind
          </h2>
          <p>
            Everyone should have fun and feel welcomed while hanging out on App for Teachers, and we truly believe that you get what you give.
          </p>
          <p>
            With that spirit, we want you to use the right to free speech, as long as it’s not inciting hatred or violence towards any individual or groups of people.
          </p>
          <p>
            App for Teachers welcomes everyone, so someone’s religion, worldview, or morals might be different — and that’s 100% OK with us. All we ask is that if you want to post about things that could potentially be deemed as “controversial” which can include sex, sex-worker rights, sex-positivity, or artistic expression, you ask yourself, “Will this teach someone something valuable, create healthy dialogue, or will this get flagged as inappropriate?”
          </p>
          <p>
            And if you’re not sure, just ask us at <a href="mailto: support@appforteachers.com">support@appforteachers.com</a>. We’re always available to talk it out or guide you down a path you’re comfortable with.
          </p>
        </div>
        <!-- main-content -->
      </div>
      <!-- col -->
    </div>
    <!-- row -->
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <div class="main-content">
          <h2 class="section-header">
            Be considerate
          </h2>
          <p>
            Remember how we said we’re all about free speech and freedom of expression? Well, as mentioned, controversial topics come with the territory.
          </p>
          <p>
            So, in the spirit of being considerate towards others, we’re asking everyone to label posts to the best of their ability. If you think there’s even a slight chance that your content might actually affect someone, please add the right labels and cautionary warnings, if necessary.
          </p>
          <p>
            On our end, we’ll keep you in the loop on any policy changes and provide as much transparency when possible.
          </p>
        </div>
        <!-- main-content -->
      </div>
      <!-- col -->
    </div>
    <!-- row -->
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <div class="main-content">
          <h2 class="section-header">
            Be authentic
          </h2>
          <p>
            Share anything that makes you happy, anything that entertains or informs others, or anything you think someone would get a laugh out of. Be authentic — however you define that. We’re all in for that.
          </p>
          <p>
            However, what we don’t stand for are boosted likes and follower counts or comment spamming. You know, those silly shenanigans aren’t great for the health of the community and aren't a good look on your own personal branding either.
          </p>
        </div>
        <!-- main-content -->
      </div>
      <!-- col -->
    </div>
    <!-- row -->
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <div class="main-content">
          <h2 class="section-header">
            Be responsible
          </h2>
          <p>
            We’re counting on you to help us out here. If you can do that, then App for Teachers can be a relaxed, supportive, and positive environment for everyone. And who doesn’t want that?
          </p>
          <p>
            This is why we’ve built in a reporting system. It’s less of a “tattle-tale” and more of a way to let us know if the community is going off the rails. If you see something that makes you feel attacked or blatantly violates our guidelines, let us know.
          </p>
          <p>
            Our global team is always looking through the platform and removing harmful content that has been reported on their end, but your added help goes a long way.
          </p>
        </div>
        <!-- main-content -->
      </div>
      <!-- col -->
    </div>
    <!-- row -->
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <div class="main-content">
          <h2 class="section-header">
            Be you
          </h2>
          <p>
            And finally, the best part: we want you to feel welcomed in a thriving community of teachers who work together and hold each other accountable.
          </p>
          <p>
            That’s what App for Teachers is all about. In order for our platform to remain welcoming, positive, and fun, it’s going to take a little effort from everyone — both from you and our team. Let’s work together on this. Deal? Great. Now get to supporting one another! :)
          </p>
        </div>
        <!-- main-content -->
      </div>
      <!-- col -->
    </div>
    <!-- row -->
    <div class="footer"></div>
  </div>
  <!-- container -->