

html, body, div {
	height: 100%;
}



.users {
	
}

.usersFormWrap {
  position: relative;
	background: rgba(0,0,0,0.05);
  padding: 45px 50px 45px 50px;
  margin: 50px 0 100px 0;
  border-radius: 25px;
  min-height: 500px;

  overflow: hidden;
}

.usersFormWrap .accountBox {
  position: absolute;
  top: 42px;
  right: 40px;
  height: auto;
  font-family: "BR Candor", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*overflow: hidden;*/
  z-index: 999999999999999999;
}




.users form.userForm {

}

.users form.userForm .formGroup input.error {
	border-color: red;
}

.users form.userForm .formGroup .error_message {
	display: inline-flex;
	color: red;
	font-size: 12px;
	line-height: 15px;
}

.users .footer {
	margin-top: 20px;
	font-size: 12px;
	text-align: center;
}



.formBox {

}

.formBox .header {
  margin-bottom: 50px;
}
.formBox .header h1 {
  font-size: 25px;
  font-weight: 800;
}


.settingsSectionLinkWrap {

}
.settingsSectionLinkWrap .settingsSectionLink {
  display: inline-block;
  margin-bottom: 30px;
  opacity: 1.0;
}
.settingsSectionLinkWrap .settingsSectionLink:hover {
  text-decoration: none;
  opacity: 0.6;
}
.settingsSectionLinkWrap .settingsSectionLink h2 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 3px;
  color: #000;
}
.settingsSectionLinkWrap .settingsSectionLink p {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  color: rgba(0,0,0,0.3);
  line-height: 18px;
}


.formBox .backButton {

}
.formBox .backButton img {
  max-width: 25px;
}








.signUpForm .formPhoneGroup .formWrapperInput {
	font-family: "BR Candor", "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-width: 100%;
  color: #000;
  background: #fff;
  border-radius: 7px;
}
.signUpForm .formPhoneGroup .formWrapperInput label {
	font-family: "BR Candor", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(0,0,0,0.3);
  padding-left: 8px;
}




.signUpForm .formGroup {
  width: 100%;
}

.signUpForm .formGroup .formControl {
  width: 100%;
}

.signUpForm .formGroup .formWrapperInput {
  width: 100%;
  border-radius: 7px;
  background: #fff;
}
.signUpForm .formGroup .formWrapperTextArea {
  width: 100%;
  border-radius: 7px;
  background: #fff;
}

.signUpForm .formGroup .formWrapperSelect {
	font-family: "BR Candor", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  border-radius: 7px;
  color: #000;
  background: transparent;
  padding-left: 18px;
}

.signUpForm .formGroup .formWrapperInput input {
	font-family: "BR Candor", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
/*  font-size: 18px;
  line-height: 40px;*/
  color: #000;
  background: transparent;
  padding-left: 18px;
  /*padding: 0;*/
}
.signUpForm .formGroup .formWrapperInput input[type="password"] {
	font-family: "BR Candor", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
/*  font-size: 25px;
  line-height: 40px;*/
  color: #000;
  background: transparent;
  border-radius: 18px;
  /*padding: 0;*/
}
.signUpForm .formGroup .formWrapperTextArea textarea {
	font-family: "BR Candor", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
/*  font-size: 18px;
  line-height: 40px;*/
  line-height: 25px;
  color: #000;
  background: transparent;
  /*border-radius: 18px;*/
  /*padding: 0;*/
  padding-left: 5px;
  box-sizing: inherit;
}

.signUpForm .formGroup .formCheckBoxLabel {
	font-size: 13px;
}

/* Change Autocomplete styles in Chrome */
.signUpForm input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus
  input:-webkit-autofill, 
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
/*    background-color: transparent !important;
    border: transparent !important;*/
  font-family: "BR Candor", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  border: none;
  outline: none;
}

.signUpForm .formGroup .formInputLabel {
	font-family: "BR Candor", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(0,0,0,0.3);
  padding-left: 8px;
/*  font-size: 18px;
  line-height: 25px;
  left: 0;*/
}
.signUpForm .formGroup .formInputLabelSub {
	font-family: "BR Candor", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(0,0,0,0.3);
  padding-left: 8px;
  /*padding-left: 18px;*/
  /*z-index: 999999999;*/
/*  font-size: 18px;
  line-height: 35px;
  left: 0;*/
}
.signUpForm .formGroup .formInputLabelFocused {
/*  color: rgba(0,0,0,0.9);
  transform: translate(0, 0) scale(0.75);
  transform-origin: top left;*/
}
.signUpForm .formGroup .formInputLabelFilled {
/*  transform: translate(0, 0) scale(0.75);
  transform-origin: top left;*/
}

.signUpForm .formGroup .formInputLabelSubFocused {
  /*color: rgba(0,0,0,0.9);*/
/*  transform: translate(0, 0) scale(0.75);
  transform-origin: top left;*/
}
.signUpForm .formGroup .formInputLabelSubFilled {
  /*color: rgba(0,0,0,0.9);
  transform: translate(0, 0) scale(0.75);
  transform-origin: top left;*/
}

.signUpForm .errorMessage {
	display: block;
  color: red;
  margin-top: 3px;
  font-size: 13px;
  line-height: 20px;
}

.signUpForm .resendLinkWrap {
	text-align: center;
	margin-top: -10px;
}

.signUpForm .resendLinkWrap .resendLink {
	font-size: 12px;
}



.signUpForm .nextButton {
	font-size: 16px;
  margin-top: 10px;
  border-radius: 50px;
  padding: 0 20px;
  line-height: 50px;
  background: #6C59CC;
  border: 0;
}








.accountBox {
  /*font-family: "BR Candor", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  /*overflow: hidden;*/ /* prevent accountBox buttonDropdown height jump issue on page */
}

.accountBox .logo {
  max-width: 100px;
  margin-left: 25px;
  margin-top: 35px;
}

.accountBox .listGroup {
  margin-top: 35px;
}

.accountBox .listGroup .listGroupItem {
  padding: 15px 25px;
  border: 0;
  font-size: 17px;
  font-weight: 400;
}
.accountBox .listGroup .listGroupItem:global(.active) {
  border: 0;

  background: linear-gradient(to right, #614385, #516395);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.accountBox .listGroup .listGroupItem:global(.active) .icon {
  background: linear-gradient(to right, #614385, #516395);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.accountBox .listGroup .listGroupItem .icon {
  position: relative;
  top: 4px;
  font-size: 20px;
  margin-right: 10px;
}




.accountBox :global(.nav) {
  width: 200px;
}

.accountBox .buttonDropdown {
  display: inline-block;
  position: absolute;
  top: 0;
  /*left: 0;*/
  right: 0;
  /*bottom: 0;*/
  width: 100%;
  /*width: 100px;*/
  text-align: center;
  font-size: 15px;
}

.accountBox .buttonDropdown :global(.dropdown-toggle) {
  border: none;
  border-radius: 50px;
  width: 100%;
  line-height: 40px;
  background: rgba(0,0,0,0.08);
  /*border-top: 1px solid rgba(0,0,0,0.08);*/
  color: rgba(0,0,0,0.7);
  font-weight: 500;
}
.accountBox .buttonDropdown :global(.dropdown-toggle:focus), .accountBox .buttonDropdown :global(.dropdown-toggle:active:focus) {
  box-shadow: none;
  /*background: rgba(0,0,0,0.08);*/
  color: rgba(0,0,0,0.7);
}

.accountBox .buttonDropdown .dropdownMenu {
  display: inline-block;
  visibility: hidden;
  position: absolute;
  opacity: 0;
  border-radius: 5px;
  max-width: 90%;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 100px;
  height: auto;
  /*bottom: 30px;*/

  -webkit-transform: scale(.85) translateY(-10%);
  -moz-transform: scale(.85) translateY(-10%);
  -ms-transform: scale(.85) translateY(-10%);
  -o-transform: scale(.85) translateY(-10%);
  transform: scale(.85) translateY(-10%);

  -webkit-transition: all .25s cubic-bezier(.24,.22,.015,1.56), opacity .1s ease-in-out;
  -moz-transition: all .25s cubic-bezier(.24,.22,.015,1.56), opacity .1s ease-in-out;
  -o-transition: all .25s cubic-bezier(.24,.22,.015,1.56), opacity .1s ease-in-out;
  transition: all .25s cubic-bezier(.24,.22,.015,1.56), opacity .1s ease-in-out;
}

.accountBox .buttonDropdown .dropdownMenu:global(.show) {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;

  -webkit-transform: scale(1) translate(0, -35px);
  -moz-transform: scale(1) translate(0, -35px);
  -ms-transform: scale(1) translate(0, -35px);
  -o-transform: scale(1) translate(0, -35px);
  transform: scale(1) translate(0, -35px);
}

.accountBox .buttonDropdown .dropdownMenu .dropdownItem {
  padding: 0.65rem 1.5rem;
}
.accountBox .buttonDropdown .dropdownMenu .dropdownItemLast {
  /*padding: 10px 0;*/
}

.accountBox :global(.dropdown-header) {
  color: rgba(0,0,0,0.25);
}




.dropzone {
  height: auto;
  background: #fff;
  color: rgba(0,0,0,0.5);
  padding: 40px 20px;
  border-radius: 5px;
  border: 1px dashed rgba(0,0,0,0.2);
  text-align: center;
  margin-bottom: 20px;
}

.dropzone p {
  margin: 0;
  font-size: 14px;
}

.preview {
  width: 100%;
  margin-bottom: 20px;
}

.previewImage {
  /*width: 100%;*/
  display: block;
  max-width: 200px;
  margin: 0 auto;
}



:global(.cropper-view-box) {
  border-radius: 50%;
}












