

<div class="container h-100">
	<div class="row align-self-center h-100">
		<div class="col-md-6 offset-md-3" style="height:auto;">
			<div class="well" style="margin-top:150px;">

				<h1>
					Sad to see you go 😥
				</h1>

				<p>
					<%= @subscriber.email %> has been unsubscribed from Takko email notifications.
				</p>

				<p>
					If there is anything we could do to improve our service, or if you'd like to takko bout anything, you can email us here: <a href="mailto:support@takkoapp.com">support@takkoapp.com</a>.
				</p>

			</div>
		</div>
	</div>
</div>