.curation_manager {
  background: #E5E5E5;
}

.rectangle {
  position: relative;
  width: 100%;
  /*1200px*/
  height: 63px;
  /*left: 240px;*/
  top: 0px;
  background: linear-gradient(82.88deg, #B500FF 1.36%, #5701FF 98.79%);
}

.curation_manager_text {
  position: relative;
  /* width: 143px; */
  /* height: 19px; */
  left: 140px;
  top: 22px;
  font-family: BR Candor;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}

#search_txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 10px 12px 20px;
  position: absolute;
  width: 650px;
  height: 42px;
  left: 68px;
  background: #FFFFFF;
  border-radius: 10px;
  font-family: BR Candor;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #8C8C8C;
}

#options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  position: relative;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 74.07%;
  background: #FFFFFF;
  border: 2px solid rgba(118, 70, 254, 0.2);
  box-sizing: border-box;
  border-radius: 8px;
  width: 250px;

  font-family: BR Candor;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.5px;
  color: #4B4950;
}

thead {
  height: 58px;
  left: 250px;
  background: #FFFFFF;
  border-radius: 10px;
  right: 250px;
}

.table td.fit,
.table th.fit {
  white-space: nowrap;
  width: 1%;
}

tbody {
  height: 58px;
  left: 250px;
  background: #E5E5E5;
  border-radius: 10px;
  right: 250px;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: fixed;
  left: 45%;
  top: 45%;
  z-index: 9999;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.post {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 55px;
  height: 26px;
  left: calc(50% - 55px/2 - 184.5px);
  top: calc(50% - 26px/2);
  background: #7646FE;
  border-radius: 8px;
  font-family: BR Candor;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}

.takko {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 65px;
  height: 26px;
  left: calc(50% - 65px/2 - 179.5px);
  top: calc(50% - 26px/2);
  background: #7646FE;
  border-radius: 8px;
  font-family: BR Candor;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}

.title_text {
  left: 54.69%;
  right: 27.51%;
  top: 19.23%;
  bottom: 23.08%;
  font-family: BR Candor;
  font-style: normal;
  font-weight: 600;
  /*font-size: 12px;*/
  line-height: 15px;
  letter-spacing: 0.5px;
  color: #00BA88;
}

.remove_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 79px;
  height: 26px;
  left: calc(50% - 79px/2 + 662.5px);
  top: calc(50% - 26px/2 - 308px);
  background: #FF5D5D;
  border-radius: 50px;
  font-family: BR Candor;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}

.add_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
  left: 93.12%;
  right: 1.25%;
  top: 20.44%;
  bottom: 77.16%;
  background: #00BA88;
  border-radius: 850px;
  font-family: BR Candor;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}
