.welcome_index {
  background: #0D0D0D;
}

.header_text {
  position: absolute;
  width: 526px;
  height: 70px;
  top: 90px;
  font-family: BR Candor;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 70px;
  text-align: center;
  color: #FFFFFF;
}

.header_text_red {
  color: #DE4554;
}

.content_text {
  position: absolute;
  width: 475px;
  height: 25px;
  top: 115px;
  font-family: BR Candor;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}

.header_text_3 {
  position: absolute !important;
  width: 767px !important;
  height: 165px;
  left: 640px;
  top: 250px;
  font-family: BR Candor;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 55px;
  text-align: center;
  color: #FFFFFF;
}

.header_text_2 {
  display: none;
}

@media (max-width: 575.98px) {
  .welcome_index {
    height: 675px;
  }

  .aft_pic {
    position: absolute;
    width: 355px;
    top: 45px;
    left: 45px;
  }

  .aft_logo_text {
    position: absolute;
    left: 100px;
    top: 20px;
    width: 230px;
  }

  .aft-logo {
    position: absolute;
    left: 25px;
    top: 15px;
    width: 25px;
  }

  .aft_text_1 {
    position: absolute;
    width: 322px;
    text-align: center;
    top: 365px;
    left: -90px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
  }

  .atf_text_1_1 {
    color: #DE4554;
  }

  .aft_text_2 {
    position: absolute;
    width: 323px;
    top: 435px;
    left: -80px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
  }

  .aft_download_apple {
    position: absolute;
    top: 565px;
    left: -195px;
    cursor: pointer;
    width: 234px;
    height: 41px;
  }

  .aft_join_waiting_list {
    position: absolute;
    top: 614px;
    left: -195px;
    cursor: pointer;
    width: 234px;
    height: 41px;
  }

  .aft-footer {
    position: absolute;
    width: 100%;
    background: #FFFFFF;
  }

  .aft-logo {
    position: absolute;
    top: 250px;
    left: 202px;
  }

  .kit_text {
    top: 15px;
    left: -42px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #353535;
  }

  .kit_text_2 {
    color: #DE4554;
  }

  .aft-links {
    height: 88px;
    left: 73px;
    top: 280px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    line-height: 3px;
  }

  .aft-link {
    width: 250px;
  }

  .help {
    position: absolute;
    width: 223px;
    top: 135px;
    left: -3px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }

  .help_advertise {
    font-weight: normal;
  }

  .advertise {
    position: absolute;
    width: 223px;
    height: 32px;
    left: 0px;
    top: 180px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }

  .signup_text {
    position: absolute;
    width: 190px;
    left: -96px;
    top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #353535;
  }

  .signup_text_2 {
    color: #DE4554;
  }

  .aft-social-links {
    position: absolute;
    top: 290px;
    left: 131px;
    width: 200px;
  }

  .aft-social-icon {
    margin-right: 10px;
    cursor: pointer;
  }

  .txt_subscription {
    justify-content: center;
    padding: 10px;
    position: absolute;
    width: 226px;
    height: 41px;
    left: -128px;
    top: -12px;
    background: #EEEEEE;
    border-radius: 50px 0px 0px 50px;
    border-color: #EEEEEE;
  }

  .subscription_arrow {
    left: 97px;
    position: absolute;
    top: -12px;
    height: 41px;
    cursor: pointer;
  }

  .txt_fn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px;
    padding-left: 80px;
    position: relative;
    width: 272px;
    height: 41px;
    left: 62px;
    top: 114px;
    background: #EEEEEE;
    border-radius: 50px;
  }

  .txt_ln {
    justify-content: center;
    align-items: center;
    padding: 14px;
    padding-left: 80px;
    position: relative;
    width: 272px;
    height: 41px;
    left: 62px;
    top: 124px;
    background: #EEEEEE;
    border-radius: 50px;
  }

  .txt_phone {
    justify-content: center;
    align-items: center;
    padding: 14px;
    position: relative;
    width: 272px;
    height: 41px;
    left: 62px;
    top: 108px;
    background: #EEEEEE;
    border-radius: 50px;
    padding-left: 59px;
  }

  .txt_age {
    justify-content: center;
    align-items: center;
    padding: 14px;
    position: relative;
    width: 272px;
    height: 41px;
    left: 62px;
    top: 114px;
    background: #EEEEEE;
    border-radius: 50px;
    padding-left: 57px;
  }

  #subscriber_mobile_device {
    justify-content: center;
    align-items: center;
    position: relative;
    width: 272px;
    height: 41px;
    left: 62px;
    top: 122px;
    background: #EEEEEE;
    border-radius: 50px;
    padding-left: 88px;
  }

  .next_btn {
    position: relative;
    top: 148px;
    left: 62px;
    width: 272px;
    cursor: pointer;
  }

  .next_btn_2 {
    position: relative;
    top: 136px;
    left: 62px;
    cursor: pointer;
    height: 41px;
  }

  .header_text {
    position: absolute;
    width: 526px;
    top: 100px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
  }

  .header_text_3 {
    position: relative !important;
    left: 0px;
    top: 245px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
  }

  .header_text_2 {
    position: relative !important;
    top: 135px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
    display: block;
  }

  .txt_share {
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    width: 238px;
    height: 41px;
    left: 46px;
    top: 266px;
    background: #EEEEEE;
    border-radius: 50px 0px 0px 50px;
  }

  .content_text {
    display: none;
  }

  .copy_icon {
    position: relative;
    width: 59.47px;
    height: 39px;
    left: 38px;
    top: 266px;
    border-radius: 0px 2px 2px 0px;
    cursor: pointer;
  }

  .back_link {
    position: relative;
    left: 140px;
    top: 309px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #BBBBBB;
  }

  .aft_subscription_errors {
    color: red;
    font-size: 20px;
    position: relative !important;
    top: 165px;
    width: 240px !important;
    text-align: center;
  }

  .back_link_errors {
    position: absolute;
    width: 475px;
    height: 25px;
    left: -30px;
    top: 250px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #BBBBBB;
  }

  .aft_apple {
    left: 188px;
    top: 20px;
    position: absolute;
  }
}

@media (min-width : 768px) {
  .welcome_index {
    height: 965px;
  }

  .aft_pic {
    position: absolute;
    top: 55px;
    width: 565px;
    left: 123px;
  }

  .aft_logo_text {
    position: absolute;
    left: 200px;
    top: 20px;
  }

  .aft-logo {
    position: absolute;
    left: 25px;
    top: 15px;
    width: 25px;
  }

  .aft_text_1 {
    position: absolute;
    width: 500px;
    top: 570px;
    left: -121px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 35px;
    color: #FFFFFF;
    text-align: center;
  }

  .atf_text_1_1 {
    color: #DE4554;
  }

  .aft_text_2 {
    position: absolute;
    width: 378px;
    top: 666px;
    left: -60px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
  }

  .aft_download_apple {
    position: absolute;
    top: 825px;
    left: -278px;
    cursor: pointer;
    width: 280px;
    height: 41px;
  }

  .aft_join_waiting_list {
    position: absolute;
    top: 875px;
    left: -282px;
    cursor: pointer;
    width: 285px;
    height: 41px;
  }

  .aft-logo {
    position: absolute;
    left: 33px;
    top: 15px;
    width: 35px;
  }

  .kit_text {
    top: 18px;
    right: 17px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 36px;
    color: #353535;
    text-align: right;
  }

  .kit_text_2 {
    color: #DE4554;
  }

  .aft-links {
    position: absolute;
    width: 223px;
    height: 88px;
    left: 20px;
    top: 35px;
    /* font-family: Nunito Sans; */
    font-family: BR Candor;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 3px;
  }

  .help {
    position: absolute;
    width: 223px;
    height: 32px;
    top: 28px;
    left: -40px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
  }

  .help_advertise {
    font-weight: normal;
  }

  .advertise {
    position: absolute;
    width: 223px;
    height: 32px;
    left: -40px;
    top: 71px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
  }

  .signup_text {
    position: absolute;
    width: 237px;
    left: -4px;
    top: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    text-align: right;
    color: #353535;
  }

  .signup_text_2 {
    color: #DE4554;
  }

  .aft-social-links {
    position: absolute;
    top: 40px;
    left: 32px;
  }

  .aft-social-icon {
    margin-right: 10px;
    cursor: pointer;
  }

  .txt_subscription {
    justify-content: center;
    align-items: center;
    padding: 12px;
    position: absolute;
    width: 222px;
    height: 35px;
    left: 112px;
    top: -18px;
    background: #EEEEEE;
    border-radius: 50px 0px 0px 50px;
    border-color: #EEEEEE;
    display: flex;
    flex-direction: row;
  }

  .subscription_arrow {
    left: 332px;
    position: absolute;
    top: -18px;
    height: 35px;
    cursor: pointer;
  }

  .txt_fn {
    justify-content: center;
    align-items: center;
    padding: 14px;
    padding-left: 120px;
    position: relative;
    width: 355px;
    height: 53px;
    left: 195px;
    top: 185px;
    background: #EEEEEE;
    border-radius: 50px;
  }

  .txt_ln {
    justify-content: center;
    align-items: center;
    padding: 14px;
    padding-left: 120px;
    position: relative;
    width: 355px;
    height: 53px;
    left: -165px;
    top: 245px;
    background: #EEEEEE;
    border-radius: 50px;
  }

  .txt_phone {
    justify-content: center;
    align-items: center;
    padding: 14px;
    position: relative;
    width: 355px;
    height: 53px;
    left: 188px;
    top: 187px;
    background: #EEEEEE;
    border-radius: 50px;
    padding-left: 101px;
  }

  .txt_age {
    justify-content: center;
    align-items: center;
    padding: 14px;
    position: relative;
    width: 355px;
    height: 53px;
    left: -171px;
    top: 244px;
    background: #EEEEEE;
    border-radius: 50px;
    padding-left: 101px;
  }

  #subscriber_mobile_device {
    justify-content: center;
    align-items: center;
    padding: 14px;
    position: relative;
    width: 355px;
    height: 53px;
    left: 189px;
    top: 249px;
    background: #EEEEEE;
    border-radius: 50px;
    padding-left: 120px;
  }

  .next_btn {
    position: relative;
    top: 257px;
    left: 195px;
    cursor: pointer;
  }

  .next_btn_2 {
    position: relative;
    top: 314px;
    left: -170px;
    cursor: pointer;
  }

  .header_text {
    height: 70px;
    top: 127px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 70px;
    text-align: center;
    color: #FFFFFF;
  }

  .header_text_2 {
    height: 70px;
    display: block;
    top: 127px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 70px;
    text-align: center;
    color: #FFFFFF;
  }

  .header_text_3 {
    width: 767px !important;
    height: 165px;
    left: 0px;
    top: 273px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    text-align: center;
    color: #FFFFFF;
    position: relative !important;
  }

  .copy_icon {
    position: absolute;
    width: 59.47px;
    height: 53px;
    left: 563px;
    top: 463px;
    border-radius: 0px 2px 2px 0px;
    cursor: pointer;
  }

  .txt_share {
    justify-content: center;
    align-items: center;
    padding: 14px;
    position: absolute;
    width: 399px;
    height: 55px;
    left: 166px;
    top: 462px;
    background: #EEEEEE;
    border-radius: 50px 0px 0px 50px;
  }

  .back_link {
    position: absolute;
    width: 475px;
    height: 25px;
    left: 152px;
    top: 586px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #BBBBBB;
  }

  .aft_subscription_errors {
    color: red;
    font-size: 24px;
    position: absolute;
    top: 290px;
    left: 171px;
  }

  .back_link_errors {
    position: absolute;
    width: 475px;
    height: 25px;
    left: 149px;
    top: 408px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #BBBBBB;
  }

  .aft_apple {
    left: 365px;
    position: absolute;
    top: 20px;
  }

  .content_text {
    display: none;
  }
}

@media (min-width : 820px) {
  .signup_text {
    left: 14px;
  }

  .subscription_arrow {
    left: 360px;
  }

  .txt_subscription {
    left: 139px;
  }
}

@media (min-width : 1024px) {

  #welcome_index {
    height: 590px;
  }

  .aft_pic {
    position: absolute;
    top: 95px;
    width: 503px;
    left: 68px;
  }

  .aft_logo_text {
    position: absolute;
    top: 20px;
    left: 34px;
  }

  .aft_text_1 {
    position: absolute;
    width: 390px;
    top: 128px;
    left: 223px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 35px;
    color: #FFFFFF;
    text-align: left;
  }

  .atf_text_1_1 {
    color: #DE4554;
  }

  .aft_text_2 {
    position: absolute;
    width: 409px;
    height: 175px;
    top: 254px;
    left: 225px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
  }

  .aft_download_apple {
    position: absolute;
    top: 417px;
    left: -127px;
    cursor: pointer;
    width: 300px;
  }

  .aft_join_waiting_list {
    position: absolute;
    top: 473px;
    left: -127px;
    cursor: pointer;
    width: 300px;
  }

  .aft-footer {
    position: absolute;
    height: 236px;
    width: 100%;
    background: #FFFFFF;
  }

  .signup_text {
    position: absolute;
    width: 237px;
    left: 169px;
    top: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    text-align: right;
    color: #353535;
    text-align: right;
  }

  .subscription_arrow {
    left: 448px;
    position: absolute;
    top: -18px;
    height: 44px;
  }

  .txt_subscription {
    justify-content: center;
    align-items: center;
    padding: 12px;
    position: absolute;
    width: 250px;
    height: 44px;
    left: 199px;
    top: -18px;
    background: #EEEEEE;
    border-radius: 50px 0px 0px 50px;
    border-color: #EEEEEE;
  }

  .aft_subscription_errors {
    left: 287px;
    top: 200px;
  }

  .back_link_errors {
    position: absolute;
    width: 475px;
    height: 25px;
    left: 273px;
    top: 300px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #BBBBBB;
  }

  .txt_fn {
    justify-content: center;
    align-items: center;
    padding: 14px;
    position: relative;
    width: 355px;
    height: 53px;
    left: 323px;
    top: 179px;
    background: #EEEEEE;
    padding-left: 120px;
    border-radius: 50px;
  }

  .txt_ln {
    justify-content: center;
    align-items: center;
    padding: 14px;
    position: relative;
    width: 355px;
    height: 53px;
    left: -37px;
    top: 241px;
    background: #EEEEEE;
    padding-left: 120px;
    border-radius: 50px;
  }

  .next_btn {
    position: relative;
    top: 262px;
    left: 323px;
    cursor: pointer;
  }

  .txt_phone {
    justify-content: center;
    align-items: center;
    padding: 14px;
    position: relative;
    width: 355px;
    height: 53px;
    left: 317px;
    top: 173px;
    background: #EEEEEE;
    padding-left: 101px;
    border-radius: 50px;
  }

  .txt_age {
    justify-content: center;
    align-items: center;
    padding: 14px;
    position: relative;
    width: 355px;
    height: 53px;
    left: -43px;
    top: 231px;
    background: #EEEEEE;
    padding-left: 101px;
    border-radius: 50px;
  }

  #subscriber_mobile_device {
    justify-content: center;
    align-items: center;
    padding: 14px;
    position: relative;
    width: 355px;
    height: 53px;
    left: 319px;
    top: 238px;
    background: #EEEEEE;
    padding-left: 120px;
    border-radius: 50px;
  }

  .next_btn_2 {
    position: relative;
    top: 310px;
    left: -42px;
    cursor: pointer;
  }

  .header_text_3 {
    height: 165px;
    left: 3px;
    top: 212px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
  }

  .header_text_2 {
    display: none;
  }

  .copy_icon {
    position: absolute;
    width: 59.47px;
    height: 53px;
    left: 674px;
    top: 393px;
    border-radius: 0px 2px 2px 0px;
    cursor: pointer;
  }

  .txt_share {
    justify-content: center;
    align-items: center;
    padding: 14px;
    position: absolute;
    width: 399px;
    height: 55px;
    left: 277px;
    top: 392px;
    background: #EEEEEE;
    border-radius: 50px 0px 0px 50px;
  }

  .back_link {
    position: absolute;
    width: 475px;
    height: 25px;
    left: 262px;
    top: 480px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #BBBBBB;
  }

  .aft_apple {
    left: 6px;
    position: relative;
  }

  .content_text {
    display: block;
    height: 25px;
    top: 145px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
  }
}

@media (min-width : 1280px) {
  .aft_pic {
    position: relative;
    top: 70px;
    width: 560px;
    left: 84px;
  }

  .aft_logo_text {
    position: absolute;
    left: 65px;
    top: 32px;
  }

  .aft_text_1 {
    position: relative;
    width: 470px;
    top: 108px;
    left: 236px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 44px;
    color: #FFFFFF;
  }

  .atf_text_1_1 {
    color: #DE4554;
  }

  .aft_text_2 {
    position: relative;
    width: 463px;
    height: 175px;
    top: 134px;
    left: 235px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    color: #FFFFFF;
  }

  .aft_download_apple {
    position: relative;
    top: 443px;
    left: -203px;
    cursor: pointer;
    width: 300px;
  }

  .aft_join_waiting_list {
    position: relative;
    top: 456px;
    left: -203px;
    cursor: pointer;
    width: 300px;
  }

  .aft-logo {
    position: absolute;
    left: 58px;
    top: 25px;
    width: 35px;
  }

  .kit_text {
    height: 36px;
    top: 30px;
    left: -35px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    color: #353535;
  }

  .kit_text_2 {
    color: #DE4554;
  }

  .aft-links {
    position: absolute;
    width: 223px;
    height: 88px;
    left: 45px;
    top: 52px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 3px;
  }

  .help {
    position: absolute;
    width: 223px;
    height: 32px;
    left: 73px;
    top: 52px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
  }

  .help_advertise {
    font-weight: normal;
  }

  .advertise {
    position: absolute;
    width: 223px;
    height: 32px;
    left: 73px;
    top: 93px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
  }

  .signup_text {
    position: absolute;
    width: 237px;
    height: 38px;
    left: 259px;
    top: 44px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    color: #353535;
  }

  .signup_text_2 {
    color: #DE4554;
  }

  .aft-social-links {
    position: absolute;
    top: 60px;
    left: 62px;
  }

  .aft-social-icon {
    margin-right: 10px;
    cursor: pointer;
  }

  .txt_subscription {
    justify-content: center;
    align-items: center;
    padding: 14px;
    position: absolute;
    width: 330px;
    height: 53px;
    left: 227px;
    top: 20px;
    background: #EEEEEE;
    border-radius: 50px 0px 0px 50px;
    border-color: #EEEEEE;
  }

  .subscription_arrow {
    left: 556px;
    position: absolute;
    top: 20px;
    height: 53px;
  }

  .header_text_3 {
    position: relative !important;
    width: 767px !important;
    height: 165px;
    top: 212px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
  }

  .txt_share {
    justify-content: center;
    align-items: center;
    padding: 14px;
    position: absolute;
    width: 399px;
    height: 55px;
    left: 403px;
    top: 392px;
    background: #EEEEEE;
    border-radius: 50px 0px 0px 50px;
  }

  .back_link {
    position: absolute;
    width: 475px;
    height: 25px;
    left: 386px;
    top: 480px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #BBBBBB;
  }

  .aft_subscription_errors {
    left: 427px;
  }

  .back_link_errors {
    left: 404px;
  }

  .txt_fn {
    left: 448px;
    padding-left: 120px;
    border-radius: 50px;
    position: relative;
  }

  .txt_ln {
    left: 89px;
    padding-left: 120px;
    border-radius: 50px;
    position: relative;
  }

  .next_btn {
    left: -271px;
    position: relative;
    top: 310px;
  }

  .txt_phone {
    left: 446px;
    padding-left: 101px;
    border-radius: 50px;
    position: relative;
  }

  .txt_age {
    left: 88px;
    padding-left: 101px;
    border-radius: 50px;
    position: relative;
  }

  #subscriber_mobile_device {
    left: -271px;
    padding-left: 120px;
    border-radius: 50px;
    position: relative;
    top: 290px;
  }

  .next_btn_2 {
    left: 445px;
    position: relative;
  }

  .copy_icon {
    left: 800px;
  }

  .aft_apple {
    left: 30px;
    position: relative;
    top: 30px;
  }
}

@media (min-width : 1366px) {
  .signup_text {
    left: 294px;
  }

  .subscription_arrow {
    left: 596px;
  }

  .txt_subscription {
    left: 268px;
    border-radius: 50px 0px 0px 50px;
    border-color: #EEEEEE;
  }

  .header_text_3 {
    position: relative !important;
    width: 767px !important;
    height: 165px;
    top: 212px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
  }

  .txt_share {
    justify-content: center;
    align-items: center;
    padding: 14px;
    position: relative;
    width: 399px;
    height: 55px;
    left: 450px;
    top: 392px;
    background: #EEEEEE;
    border-radius: 50px 0px 0px 50px;
  }

  .back_link {
    position: relative;
    width: 475px;
    height: 25px;
    left: 625px;
    top: 480px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #BBBBBB;
  }

  .aft_subscription_errors {
    left: 474px;
  }

  .back_link_errors {
    left: 450px;
  }

  .txt_fn {
    left: 487px;
    padding-left: 120px;
    border-radius: 50px;
    position: relative;
  }

  .txt_ln {
    left: 127px;
    padding-left: 120px;
    border-radius: 50px;
    position: relative;
  }

  .next_btn {
    left: -232px;
    position: relative;
  }

  .txt_phone {
    left: 488px;
    padding-left: 101px;
    border-radius: 50px;
    position: relative;
  }

  .txt_age {
    left: 126px;
    padding-left: 101px;
    border-radius: 50px;
    position: relative;
  }

  #subscriber_mobile_device {
    left: -232px;
    padding-left: 120px;
    border-radius: 50px;
    position: relative;
  }

  .next_btn_2 {
    left: 487px;
    position: relative;
  }

  .copy_icon {
    left: 442px;
    top: 392px;
    position: relative;
  }

  .aft_apple {
    position: relative;
  }
}

@media (min-width : 1400px) {
  .signup_text {
    left: 309px;
  }

  .subscription_arrow {
    left: 614px;
  }

  .txt_subscription {
    left: 285px;
    border-radius: 50px 0px 0px 50px;
    border-color: #EEEEEE;
  }

  .header_text_3 {
    position: relative !important;
    width: 767px !important;
    height: 165px;
    top: 212px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
  }

  .txt_share {
    justify-content: center;
    align-items: center;
    padding: 14px;
    position: relative;
    width: 415px;
    height: 53px;
    top: 392px;
    background: #EEEEEE;
    border-radius: 50px 0px 0px 50px;
  }

  .back_link {
    position: relative;
    width: 475px;
    height: 25px;
    top: 480px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #BBBBBB;
  }

  .aft_subscription_errors {
    left: 492px;
  }

  .back_link_errors {
    left: 475px;
  }

  .txt_fn {
    left: 508px;
    padding-left: 120px;
    border-radius: 50px;
    position: relative;
  }

  .txt_ln {
    left: 147px;
    padding-left: 120px;
    border-radius: 50px;
    position: relative;
  }

  .next_btn {
    left: -213px;
    position: relative;
  }

  .txt_phone {
    left: 508px;
    padding-left: 101px;
    border-radius: 50px;
    position: relative;
  }

  .txt_age {
    left: 148px;
    padding-left: 101px;
    border-radius: 50px;
    position: relative;
  }

  #subscriber_mobile_device {
    left: -211px;
    padding-left: 120px;
    border-radius: 50px;
    position: relative;
  }

  .next_btn_2 {
    left: 509px;
    position: relative;
  }

  .copy_icon {
    position: relative;
  }

  .aft_apple {
    left: 40px;
    position: absolute;
  }
}

@media (min-width : 1600px) {
  .signup_text {
    left: 392px;
  }

  .subscription_arrow {
    left: 713px;
  }

  .txt_subscription {
    left: 385px;
    border-radius: 50px 0px 0px 50px;
    border-color: #EEEEEE;
  }

  .header_text_3 {
    position: relative !important;
    width: 767px !important;
    height: 165px;
    top: 170px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
  }

  .txt_share {
    justify-content: center;
    align-items: center;
    padding: 14px;
    position: relative;
    width: 600px;
    height: 55px;
    top: 392px;
    background: #EEEEEE;
    border-radius: 50px 0px 0px 50px;
  }

  .back_link {
    position: relative;
    width: 475px;
    height: 25px;
    left: 732px;
    top: 480px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #BBBBBB;
  }

  .aft_subscription_errors {
    left: 607px;
  }

  .back_link_errors {
    left: 584px;
  }

  .txt_fn {
    left: 604px;
    padding-left: 120px;
    border-radius: 50px;
    position: relative;
  }

  .txt_ln {
    left: 243px;
    padding-left: 120px;
    border-radius: 50px;
    position: relative;
  }

  .next_btn {
    left: -117px;
    position: relative;
  }

  .txt_phone {
    left: 605px;
    padding-left: 101px;
    border-radius: 50px;
    position: relative;
  }

  .txt_age {
    left: 246px;
    padding-left: 101px;
    border-radius: 50px;
    position: relative;
  }

  #subscriber_mobile_device {
    left: -115px;
    padding-left: 120px;
    border-radius: 50px;
    position: relative;
  }

  .next_btn_2 {
    left: -474px;
    top: 360px;
    position: relative;
  }

  .copy_icon {
    position: relative;
  }

  .aft_apple {
    left: 40px;
    position: absolute;
  }
}

@media (min-width : 1920px) {
  #welcome_index {
    height: 750px;
  }

  .aft_pic {
    position: relative;
    width: 750px;
    left: 129px;
  }

  .aft_logo_text {
    position: absolute;
    left: 123px;
    top: 40px;
  }

  .aft-logo {
    position: absolute;
    left: 125px;
    top: 25px;
    width: 35px;
  }

  .aft_text_1 {
    position: relative;
    width: 526px;
    height: 210px;
    left: 450px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 70px;
    color: #FFFFFF;
  }

  .atf_text_1_1 {
    color: #DE4554;
  }

  .aft_text_2 {
    position: relative;
    width: 520px;
    height: 175px;
    left: 450px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
  }

  .aft_download_apple {
    position: relative;
    top: 570px;
    left: -182px;
    cursor: pointer;
  }

  .aft_join_waiting_list {
    position: relative;
    top: 628px;
    left: -485px;
    cursor: pointer;
  }

  .aft-footer {
    position: absolute;
    background: #FFFFFF;
  }

  .kit_text {
    height: 36px;
    top: 30px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    color: #353535;
    left: -100px;
  }

  .kit_text_2 {
    color: #DE4554;
  }

  .aft-links {
    position: absolute;
    width: 223px;
    height: 88px;
    left: 112px;
    top: 52px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 3px;
  }

  .help {
    position: absolute;
    width: 223px;
    height: 32px;
    left: 200px;
    top: 52px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
  }

  .help_advertise {
    font-weight: normal;
  }

  .advertise {
    position: absolute;
    width: 223px;
    height: 32px;
    left: 200px;
    top: 93px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
  }

  .signup_text {
    position: absolute;
    width: 237px;
    height: 38px;
    left: 459px;
    top: 44px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    color: #353535;
  }

  .signup_text_2 {
    color: #DE4554;
  }

  .aft-social-links {
    position: absolute;
    top: 60px;
    left: 125px;
  }

  .aft-social-icon {
    margin-right: 10px;
    cursor: pointer;
  }

  .txt_subscription {
    justify-content: center;
    align-items: center;
    padding: 14px;
    position: absolute;
    width: 350px;
    height: 53px;
    left: 461px;
    top: 20px;
    background: #EEEEEE;
    border-radius: 50px 0px 0px 50px;
    border-color: #EEEEEE;
  }

  .subscription_arrow {
    left: 810px;
    position: absolute;
    top: 20px;
  }

  .header_text_3 {
    position: relative !important;
    width: 767px !important;
    height: 165px;
    top: 170px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
  }

  .txt_share {
    justify-content: center;
    align-items: center;
    padding: 14px;
    position: relative;
    width: 600px;
    height: 55px;
    left: 614px;
    top: 392px;
    background: #EEEEEE;
    border-radius: 50px 0px 0px 50px;
  }

  .back_link {
    position: relative;
    width: 475px;
    height: 25px;
    left: 885px;
    top: 480px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #BBBBBB;
  }

  .aft_subscription_errors {
    left: 766px;
  }

  .back_link_errors {
    left: 730px;
  }

  .txt_fn {
    padding-left: 120px;
    border-radius: 50px;
    left: 763px;
    position: relative;
  }

  .txt_ln {
    padding-left: 120px;
    border-radius: 50px;
    left: 404px;
    position: relative;
  }

  .next_btn {
    left: 42px;
    position: relative;
  }

  .txt_phone {
    left: 766px;
    padding-left: 101px;
    border-radius: 50px;
    position: relative;
  }

  .txt_age {
    left: 404px;
    padding-left: 101px;
    border-radius: 50px;
    position: relative;
  }

  #subscriber_mobile_device {
    left: 45px;
    padding-left: 120px;
    border-radius: 50px;
    position: relative;
  }

  .next_btn_2 {
    left: -316px;
    position: relative;
  }

  .copy_icon {
    left: 606px;
    position: relative;
  }

  .aft_apple {
    left: 100px;
    position: absolute;
  }
}

@media (min-width : 2160px) {
  .signup_text {
    left: 559px;
  }

  .subscription_arrow {
    left: 935px;
  }

  .txt_subscription {
    left: 587px;
    border-radius: 50px 0px 0px 50px;
    border-color: #EEEEEE;
  }

  .header_text_3 {
    position: relative !important;
    width: 767px !important;
    height: 165px;
    top: 275px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
  }

  .txt_share {
    justify-content: center;
    align-items: center;
    padding: 14px;
    position: relative;
    width: 816px;
    height: 55px;
    left: 614px;
    top: 392px;
    background: #EEEEEE;
    border-radius: 50px 0px 0px 50px;
  }

  .back_link {
    position: relative;
    width: 475px;
    height: 25px;
    left: 1000px;
    top: 480px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #BBBBBB;
  }

  .aft_subscription_errors {
    left: 875px;
    top: 305px;
  }

  .content_text {
    display: block;
    height: 25px;
    top: 195px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
  }

  .back_link_errors {
    left: 852px;
    top: 400px;
  }

  .txt_fn {
    left: 884px;
    padding-left: 120px;
    border-radius: 50px;
    position: relative;
    top: 250px;
  }

  .txt_ln {
    left: 523px;
    padding-left: 120px;
    border-radius: 50px;
    position: relative;
    top: 309px;
  }

  .next_btn {
    left: 166px;
    position: relative;
    top: 375px;
  }

  .txt_phone {
    left: 883px;
    padding-left: 101px;
    border-radius: 50px;
    position: relative;
    top: 246px;
  }

  .txt_age {
    left: 526px;
    padding-left: 101px;
    border-radius: 50px;
    position: relative;
    top: 304px;
  }

  #subscriber_mobile_device {
    left: 165px;
    top: 364px;
    padding-left: 120px;
    border-radius: 50px;
    position: relative;
  }

  .next_btn_2 {
    left: -195px;
    top: 433px;
    position: relative;
  }

  .copy_icon {
    left: 605px;
    position: relative;
  }

  .aft_apple {
    left: 100px;
    position: absolute;
  }
}

@media (min-width : 2560px) {
  #welcome_index {
    height: 1000px;
  }

  .aft_logo_text {
    width: 560px;
  }

  .aft_pic {
    top: 140px;
    position: relative;
    left: 168px;
  }

  .aft_text_1 {
    position: relative;
    width: 570px;
    height: 210px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 68px;
    color: #FFFFFF;
    top: 205px;
  }

  .aft_text_2 {
    position: relative;
    width: 636px;
    height: 175px;
    top: 236px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
  }

  .aft_download_apple {
    position: relative;
    top: 684px;
    left: -400px;
    cursor: pointer;
    width: 500px;
    height: 75px;
  }

  .aft_join_waiting_list {
    position: relative;
    top: 703px;
    left: -401px;
    cursor: pointer;
    width: 500px;
    height: 75px;
  }

  .aft-logo {
    width: 55px;
  }

  .kit_text {
    top: 45px;
    font-size: 50px;
    right: 85px;
  }

  .aft-links {
    top: 110px;
    font-size: 22px;
    line-height: 18px;
  }

  .aft-social-links {
    position: absolute;
    top: 195px;
    left: 125px;
    width: 350px;
  }

  .help {
    top: 110px;
    font-size: 22px;
    line-height: 18px;
    left: 150px;
  }

  .advertise {
    top: 184px;
    font-size: 22px;
    line-height: 18px;
    left: 150px;
  }

  .help_advertise {
    line-height: 40px;
  }

  .subscription_arrow {
    left: 1142px;
    top: 88px;
  }

  .txt_subscription {
    left: 743px;
    top: 88px;
    width: 400px;
    border-radius: 50px 0px 0px 50px;
    border-color: #EEEEEE;
  }

  .signup_text {
    line-height: 35px;
    left: 627px;
    width: 415px;
    top: 80px;
    font-size: 28px;
    left: 562px;
  }

  .aft_apple {
    left: 90px;
    top: 50px;
    position: relative;
  }

  .header_text_3 {
    position: relative !important;
    width: 767px !important;
    height: 165px;
    top: 200px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
  }

  .txt_share {
    justify-content: center;
    align-items: center;
    padding: 14px;
    position: relative;
    width: 639px;
    height: 55px;
    left: 933px;
    top: 392px;
    background: #EEEEEE;
    border-radius: 50px 0px 0px 50px;
  }

  .back_link {
    position: relative;
    width: 475px;
    height: 25px;
    left: 1201px;
    top: 480px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #BBBBBB;
  }

  .aft_subscription_errors {
    left: 1073px;
  }

  .back_link_errors {
    left: 1043px;
  }

  .txt_fn {
    left: 1085px;
    padding-left: 120px;
    border-radius: 50px;
    position: relative;
  }

  .txt_ln {
    left: 725px;
    padding-left: 120px;
    border-radius: 50px;
    position: relative;
  }

  .next_btn {
    left: 365px;
    position: relative;
  }

  .txt_phone {
    left: 1083px;
    padding-left: 101px;
    border-radius: 50px;
    position: relative;
  }

  .txt_age {
    left: 724px;
    padding-left: 101px;
    border-radius: 50px;
    position: relative;
  }

  #subscriber_mobile_device {
    left: 364px;
    padding-left: 120px;
    border-radius: 50px;
    position: relative;
  }

  .next_btn_2 {
    left: 4px;
    position: relative;
  }

  .copy_icon {
    position: relative;
    left: 923px;
  }
}

@media (min-width : 3072px) {
  #welcome_index {
    height: 1270px;
  }

  .aft_pic {
    top: 140px;
    position: relative;
    left: 153px;
    width: 1200px;
  }

  .signup_text {
    left: 759px;
  }

  .subscription_arrow {
    left: 1380px;
  }

  .txt_subscription {
    left: 920px;
    border-radius: 50px 0px 0px 50px;
    border-color: #EEEEEE;
    width: 460px;
  }

  .help {
    left: 400px;
  }

  .advertise {
    left: 400px;
  }

  .aft_join_waiting_list {
    top: 995px;
    left: -309px;
    position: relative;
  }

  .aft_download_apple {
    top: 950px;
    left: -310px;
    position: relative;
  }

  .aft_text_2 {
    width: 843px;
    top: 380px;
    left: 700px;
    font-size: 29px;
    line-height: 40px;
    position: relative;
  }

  .aft_text_1 {
    width: 780px;
    left: 700px;
    font-size: 90px;
    line-height: 106px;
    top: 209px;
    position: relative;
  }

  .header_text_3 {
    position: relative !important;
    width: 767px !important;
    height: 165px;
    top: 200px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
  }

  .txt_share {
    justify-content: center;
    align-items: center;
    padding: 14px;
    position: relative;
    width: 700px;
    height: 55px;
    left: 1173px;
    top: 392px;
    background: #EEEEEE;
    border-radius: 50px 0px 0px 50px;
  }

  .back_link {
    position: relative;
    width: 475px;
    height: 25px;
    left: 1496px;
    top: 480px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #BBBBBB;
  }

  .aft_subscription_errors {
    left: 1335px;
  }

  .back_link_errors {
    left: 1320px;
  }

  .txt_fn {
    left: 1344px;
    padding-left: 120px;
    border-radius: 50px;
    position: relative;
  }

  .txt_ln {
    padding-left: 120px;
    border-radius: 50px;
    left: 985px;
    position: relative;
  }

  .next_btn {
    left: 626px;
    position: relative;
  }

  .txt_phone {
    left: 1343px;
    padding-left: 101px;
    border-radius: 50px;
    position: relative;
  }

  .txt_age {
    left: 983px;
    padding-left: 101px;
    border-radius: 50px;
    position: relative;
  }

  #subscriber_mobile_device {
    left: 625px;
    padding-left: 120px;
    border-radius: 50px;
    position: relative;
  }

  .next_btn_2 {
    left: 267px;
    position: relative;
  }

  .copy_icon {
    left: 1164px;
    position: relative;
  }

  .aft_apple {
    top: 50px;
    left: 100px;
    position: relative;
  }
}

@media (min-width : 3440px) {
  #welcome_index {
    height: 1270px;
  }

  .signup_text {
    left: 916px;
  }

  .subscription_arrow {
    left: 1567px;
  }

  .txt_subscription {
    left: 1105px;
    border-radius: 50px 0px 0px 50px;
    border-color: #EEEEEE;
    width: 466px;
  }

  .help {
    left: 400px;
  }

  .advertise {
    left: 400px;
  }

  .aft_join_waiting_list {
    top: 1065px;
    left: -909px;
    height: 75px;
    position: relative;
  }

  .aft_download_apple {
    top: 960px;
    left: -400px;
    position: relative;
    height: 75px;
  }

  .aft_text_2 {
    width: 843px;
    top: 372px;
    font-size: 29px;
    line-height: 40px;
    position: relative;
  }

  .aft_text_1 {
    width: 783px;
    font-size: 90px;
    line-height: 106px;
    top: 200px;
    position: relative;
  }

  .header_text_3 {
    position: relative !important;
    width: 767px !important;
    height: 165px;
    top: 200px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
  }

  .txt_share {
    justify-content: center;
    align-items: center;
    padding: 14px;
    position: relative;
    width: 650px;
    height: 55px;
    left: 1356px;
    top: 392px;
    background: #EEEEEE;
    border-radius: 50px 0px 0px 50px;
  }

  .back_link {
    position: relative;
    width: 475px;
    height: 25px;
    left: 1664px;
    top: 480px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #BBBBBB;
  }

  .aft_subscription_errors {
    left: 1513px;
  }

  .back_link_errors {
    left: 1500px;
  }

  .txt_fn {
    left: 1526px;
    padding-left: 120px;
    border-radius: 50px;
    position: relative;
  }

  .txt_ln {
    padding-left: 120px;
    border-radius: 50px;
    left: 1166px;
    position: relative;
  }

  .next_btn {
    left: 809px;
    position: relative;
  }

  .txt_phone {
    left: 1528px;
    padding-left: 101px;
    border-radius: 50px;
    position: relative;
  }

  .txt_age {
    left: 1167px;
    padding-left: 101px;
    border-radius: 50px;
    position: relative;
  }

  #subscriber_mobile_device {
    left: 809px;
    padding-left: 120px;
    border-radius: 50px;
    position: relative;
  }

  .next_btn_2 {
    left: 449px;
    position: relative;
  }

  .copy_icon {
    left: 1347px;
    position: relative;
  }

  .aft_apple {
    left: 100px;
    position: relative;
    top: 50px;
  }
}

@media (min-width : 3840px) {
  #welcome_index {
    height: 1470px;
  }

  .signup_text {
    left: 1080px;
  }

  .subscription_arrow {
    left: 1772px;
  }

  .txt_subscription {
    left: 1308px;
    border-radius: 50px 0px 0px 50px;
    border-color: #EEEEEE;
  }

  .header_text_3 {
    position: relative !important;
    width: 767px !important;
    height: 165px;
    top: 200px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
  }

  .txt_share {
    justify-content: center;
    align-items: center;
    padding: 14px;
    position: relative;
    width: 607px;
    height: 55px;
    left: 1581px;
    top: 392px;
    background: #EEEEEE;
    border-radius: 50px 0px 0px 50px;
  }

  .back_link {
    position: relative;
    width: 475px;
    height: 25px;
    left: 1821px;
    top: 480px;
    font-family: BR Candor;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #BBBBBB;
  }

  .aft_subscription_errors {
    left: 1716px;
  }

  .back_link_errors {
    left: 1700px;
  }

  .txt_fn {
    left: 1724px;
    padding-left: 120px;
    border-radius: 50px;
    position: relative;
  }

  .txt_ln {
    left: 1365px;
    padding-left: 120px;
    border-radius: 50px;
    position: relative;
  }

  .next_btn {
    left: 1005px;
    position: relative;
  }

  .txt_phone {
    left: 1728px;
    padding-left: 101px;
    border-radius: 50px;
    position: relative;
  }

  .txt_age {
    left: 1370px;
    padding-left: 101px;
    border-radius: 50px;
    position: relative;
  }

  #subscriber_mobile_device {
    left: 1011px;
    padding-left: 120px;
    border-radius: 50px;
    position: relative;
  }

  .next_btn_2 {
    left: 650px;
    position: relative;
  }

  .copy_icon {
    left: 1573px;
    position: relative;
  }

  .aft_apple {
    left: 100px;
    top: 42px;
    position: relative;
  }
}
